{% extends 'base.html' %}
{% block content %}

<div class="container">
  <form class="form-signin" action="/demographic/{{ appointment_id }}/{{ patient_id }}" method="post" autocomplete="off">
    <h1>Additional Demographic Information</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Check in</button>
  </form>
  <br>
  <br>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
  </div>
</div>
{% endblock %}