{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <form class="form-signin" action="/patient/" method="post" autocomplete="off">
      <h1>Patient Checkin</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Continue</button>
    </form>
    <br>
    <br>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>
</div>
{% endblock %}