{% extends 'base.html' %}
{% csrf_token %}
{% block javascript %}
  <script>
    function seePatient(id, full_name) {
      document.getElementById("currently-seeing").innerHTML = "Seeing " + full_name;
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');
      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                console.log(xhr);
            }
        }
      });
      $.ajax({
           type:"POST",
           url:"/schedule/203468/",
           data: {
                  'appointment_id': id, // from form
                  },
           success: function(){
               console.log("success");
           }
      });
    }

    

    //var interval = 1000 * 60 * 1;
    //setInterval(update_call, interval)
  </script>
{% endblock %}

{% block content %}
  <h2>Schedule</h2>
  <p>Hello Doctor!</p>
  <p id="currently-seeing"></p>
  
  <ul id="schedule">
  {% for appointment in appt_list %}
      <li>Patient's Name: {{ appointment.full_name }} </li>
      <li>Schedule Time: {{ appointment.scheduled_time }}</li>
      <li>Exam Room: {{ appointment.exam_room }}</li>
      <li>Duration: {{ appointment.duration }} minutes</li>
      <li>Status: {{ appointment.status }}</li>
      <li id ="{{ appointment.appointment_id }}" ></li>
      <!-- TODO: XSS protection -->
      <button onclick='seePatient("{{ appointment.appointment_id }}","{{ appointment.full_name }}")'>See this Patient</button>
      {% if appointment.is_currently_seen %}
      <li>Currently being seen.</li>

      {% endif %}
      <br>
  {% endfor %}
  </ul>

  <a href="{% url 'home'  %}">Log Out</a>
{% endblock %}