{% extends 'base.html' %}
{% csrf_token %}
{% block javascript %}
  <script>
    function seePatient(id, full_name) {
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');
      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                console.log(xhr);
            }
        }
      });
      var str = "Do you want to see " + full_name;
      var r = confirm(str)
      if (r == true) {
        $.ajax({
           type:"POST",
           url:"/schedule/203468/", // hardcoded
           data: {
                  'operation': 'seePatient',
                  'appointment_id': id, // from form
                  },
           success: function(){
               document.getElementById("currently-seeing").innerHTML = "Seeing " + full_name;
           }
        });
      }
      else {
        return;
      }
    }

    function updateSchedule() {
      // Do ajax call to get this same webpage
      // That will get the new updated appointment models
      // sync those data with data on this 
      // if status is active for one of them, have a timer if it is not currently seen
      console.log("before ajax");
      $.ajax({
           type: "GET",
           url: "{% url 'schedule_update' doctor_id=203468 %}",
           success: function(data){
               console.log('Succeed in js')
               console.log(data['appointments'])
           }
      });
      console.log("setting time out");
      //setTimeOut(function(){updateSchedule()}, 30000);
    };

    function startCount() {
      updateSchedule()
    }
    

    //var interval = 1000 * 60 * 1;
    //setInterval(update_call, interval)
  </script>
{% endblock %}

{% block content %}
  <h1>Schedule</h1>
  <p>Hello Doctor!</p>
  <p id="currently-seeing"></p>
  <button onclick="startCount()">Start count!</button>
  <input type="text" id="txt">
  <button onclick="stopCount()">Stop count!</button>

  <div id="schedule">
    {% for appointment in appt_list %}
    {% if appointment.is_currently_seen %}
      <div id = "{{ appointment.appointment_id }}" style="color:blue;">
      {% else %}
      <div id = "{{ appointment.appointment_id }}" class="panel panel-default border">
    {% endif %}
        <div class="panel-body">A Basic Panel</div>
        <p> {{ appointment.full_name }} </p>
        <p> {{ appointment.scheduled_time }} </p>
        <p> {{ appointment.exam_room }} </p>
        <p> {{ appointment.duration }} </p>
        <p id="{{ appointment.appointment_id }}"> {{ appointment.status }} </p>
        {% if appointment.status == Arrived %}
        <p id="wait-time">00:00:00</p>
        {% endif %}
        <p>
          {% if not appointment.is_currently_seen %}
            <button onclick='seePatient("{{ appointment.appointment_id }}","{{ appointment.full_name }}")'>See this Patient</button>
          {% endif %}
        </p>
      </p>

    {% endfor %}
    <div>
  </div>


<br>

  <a href="{% url 'home'  %}">Log Out</a>
{% endblock %}